@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@300;400;600&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #222;
}

h1,
h2,
h3,
.logo-text,
.navbar,
.nav-link,
.navbar-brand {
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.responsive-logo {
  max-width: 100%;
  height: auto;
}
